# Sports revenue analysis

Sports clothing and athleisure attire is a huge industry, worth approximately $193 billion in 2021 with a strong growth forecast over the next decade!

In this notebook, we play the role of a product analyst for an online sports clothing company. The company is specifically interested in how it can improve revenue. We will dive into product data such as pricing, reviews, descriptions, and ratings, as well as revenue and website traffic, to produce recommendations for its marketing and sales teams.

The database provided to us, sports, contains five tables, with product_id being the primary key for all of them

In [5]:
import mysql.connector
from mysql.connector import Error
import numpy as np 
import pandas as pd
from sqlalchemy import create_engine

In [6]:
conn = mysql.connector.connect(host='localhost',password='6990Mysql#', user='root', db='sports')
if conn.is_connected():
    print("connection established......")
    
cur= conn.cursor()
cur.execute("SHOW DATABASES")
for db in cur:
    print(db)
engine = create_engine('mysql+mysqlconnector://root:6990Mysql#@localhost/sports', echo=False)

connection established......
('car_sales',)
('db1',)
('information_schema',)
('mysql',)
('performance_schema',)
('random',)
('sports',)
('sys',)

# READING FILES

In [7]:
traffics = pd.read_csv(r"D:\projects\Myproject- sports revenue\datasets\traffics.csv")
reviews = pd.read_csv(r"D:\projects\Myproject- sports revenue\datasets\reviews.csv")
finance =pd.read_csv(r"D:\projects\Myproject- sports revenue\datasets\finance.csv")
brands =pd.read_csv(r"D:\projects\Myproject- sports revenue\datasets\brands.csv")
info =pd.read_csv(r"D:\projects\Myproject- sports revenue\datasets\info.csv")

In [8]:

reviews =reviews.dropna()
finance =finance.dropna()
brands =brands.dropna()

In [9]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3120 entries, 1 to 3178
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  3120 non-null   object
 1   rating      3120 non-null   float64
 2   reviews     3120 non-null   float64
dtypes: float64(2), object(1)
memory usage: 97.5+ KB

In [10]:
finance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3120 entries, 1 to 3178
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     3120 non-null   object
 1   listing_price  3120 non-null   float64
 2   sale_price     3120 non-null   float64
 3   discount       3120 non-null   float64
 4   revenue        3120 non-null   float64
dtypes: float64(4), object(1)
memory usage: 146.2+ KB

In [11]:
brands.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3120 entries, 1 to 3178
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  3120 non-null   object
 1   brand       3120 non-null   object
dtypes: object(2)
memory usage: 73.1+ KB

In [12]:
info = info.dropna(subset=['product_name'], how='all')

In [13]:
info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3120 entries, 1 to 3178
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  3120 non-null   object
 1   product_id    3120 non-null   object
 2   description   3117 non-null   object
dtypes: object(3)
memory usage: 97.5+ KB

# DATA MANIPULATION

In [14]:
traffics= pd.merge(traffics,info, on='product_id' , how= 'inner')

In [15]:
traffics=traffics.drop(columns=['product_name', 'description'])

In [16]:
traffics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3120 entries, 0 to 3119
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    3120 non-null   object
 1   last_visited  2876 non-null   object
dtypes: object(2)
memory usage: 73.1+ KB

In [17]:
info.loc[info.isnull().any(axis=1)]

                         product_name  product_id description
2780  Nike React Infinity Run Flyknit  CD4371-001         NaN
2880  Nike React Infinity Run Flyknit  CD4372-004         NaN
3089             Nike Free X Metcon 2  CD8526-446         NaN

In [20]:
df = info[['product_name', 'description']]

In [21]:
df_sorted = info.sort_values(by='product_name', key=lambda x: x.map(x.value_counts()), ascending=False)

In [22]:
df_sorted

,product_name,product_id,description
639,Men's adidas Originals Supercourt Shoes,EE6031,The Supercourt distills 40 years of adidas ten...
1470,Men's adidas Originals Supercourt Shoes,FV4656,"Effortless and cool, just like you. A culminat..."
2409,Men's adidas Originals Supercourt Shoes,EE6036,The Supercourt distills 40 years of adidas ten...
1426,Men's adidas Originals Supercourt Shoes,EF5870,Good things take time. The Supercourt Shoes ta...
1424,Men's adidas Originals Supercourt Shoes,EF5885,"Effortless and cool, just like you. A culminat..."
...,...,...,...
2467,MEN'S ADIDAS ORIGINALS SKATEBOARDING VRX LOW S...,B41486,Inspired by adidas basketball sneakers that do...
2468,MEN'S ADIDAS ORIGINALS SKATEBOARDING CITY CUP ...,B41686,adidas teams up with skate brand Numbers Editi...
2469,MEN'S ADIDAS ORIGINALS SKATEBOARDING 3ST.001 S...,B41776,"Driven by pro rider insights, the 3ST pushes b..."
2470,Men's adidas Sport Inspired Fusion Storm Shoes,F36221,Basketball style brought to life off the hardw...
3178,Nike P-6000 SE,CJ9585-600,"A mash-up of Pegasus' past, the Nike P-6000 SE..."

In [23]:
info['description'] = info.groupby('product_name')['description'].transform(lambda x: x.fillna(method='ffill'))

# SAVING FILES to sql

In [24]:
# Write the DataFrame to MySQL using the engine object
info.to_sql(name='info', con=engine, if_exists='replace', index=False)

3120

In [25]:
brands.to_sql(name='brands',con=engine, if_exists = 'replace',index=False)
reviews.to_sql(name='reviws', con=engine, if_exists='replace', index= False)
traffics.to_sql(name='traffics', con=engine, if_exists='replace', index= False)
finance.to_sql(name='finance', con=engine, if_exists='replace', index= False)
conn.close()